.login_container {
  width: 80%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10%;
  border-radius: 5px;
  padding: 15px;
  border: solid 1px;
  background: linear-gradient(to top, rgb(204, 155, 132), transparent);
}

.login_tittle {
  background: linear-gradient(to bottom, rgb(204, 155, 132), transparent);
  color: rgb(216, 98, 43);
  border-radius: 5px;
  font-size: 25px;
  padding: 15px;
  border: white 8px groove;
  margin-bottom: 20px;
}

.login_button {
  background: linear-gradient(to bottom right, rgb(241, 99, 4), #8b0000);
  border-color: rgb(100, 0, 0);
  &&:hover {
    background: rgb(255, 195, 127);
    color: black
  }
}

.span_login {
  cursor: pointer;
  color: rgb(216, 98, 43);
  &&:hover {
    color: white;
    font-size: 17px;
  }
}

.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

/* Estilos para el mensaje de éxito y error */
.success {
  padding: 20px;
  color: white;
  background-color: #22c4cf;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.error {
  background-color: #cf151f;
  color: white;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}
