.footer {
  position: relative;
  background-image: url("https://res.cloudinary.com/dmbkoargv/image/upload/v1720827961/ud6tafa5vrioq6m9u1j6.jpg");
  background-size: auto; /* Ajusta el tamaño del fondo para cubrir todo el contenedor */
  background-position: center;
  color: white;
  padding: 0px 0;
}

.footer-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según lo necesites */
  width: 100%;
  display: flex;
  flex-direction: column; /* Cambia a columna para dispositivos más pequeños */
  align-items: center;
  padding: 0px; /* Añade un poco de padding para el espacio interior */
}

.container_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-images {
  display: flex;
  flex-wrap: wrap; /* Permite que las imágenes se envuelvan en una nueva línea si no caben en una fila */
  justify-content: center;
  align-items: center;
  margin: 10px 0; /* Añade margen superior e inferior */
}

.footer-image {
  max-height: 300px; /* Limita la altura máxima de las imágenes */
  margin: 1px; /* Añade margen alrededor de las imágenes */
  object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor sin distorsionarse */
}

/* Estilos específicos para cada imagen */
.image-1 {
  width: 120px; /* Ajusta el ancho de la primera imagen */
}

.image-2 {
  width: 300px; /* Ajusta el ancho de la segunda imagen */
}

.image-3 {
  width: 160px; /* Ajusta el ancho de la tercera imagen */
}

/* Media queries para dispositivos más pequeños */
@media (max-width: 768px) {
  .footer {
    padding: 10px 0;
  }

  .footer-image {
    max-height: 120px; /* Ajusta la altura máxima para pantallas más pequeñas */
    width: 120px; /* Ajusta el ancho para pantallas más pequeñas */
  }

  .container {
    flex-direction: column;
    text-align: center;
  }

  .footer-images {
    margin-bottom: 30px;
  }

  .container span {
    margin-bottom: 10px;
  }
}
