/* SocialMediaBanner.css */
.social-media-banner {
    position: relative;
    width: 100%;
    height: 90vh; /* Ajusta según tus necesidades */
    background: url('https://res.cloudinary.com/dmbkoargv/image/upload/v1720827857/qty0eqldxjgsdd65jzfs.jpg') no-repeat center center/cover;
  }
  
  .social-media-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Opacidad para la imagen de fondo */
  }
  
  .content {
    position: relative;
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .social-logo {
    width: 140px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .social-logo:hover{
    transform: scale(1.1); /* Agranda la imagen al pasar el mouse por encima */
    
  }

  .p_banner {
    z-index: 320;
    min-height: 39px;
    text-shadow: 4px 4px 3px #000000;
    box-shadow: none;
    background-color: transparent;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    font-weight: bold;
  }
  